h1[class*="title"], h2[class*="title"] {
    font-size: 8.5rem;
    letter-spacing:-1rem;
    text-transform: uppercase;
}

h1 {
    color: transparent;
    filter:drop-shadow(-10px 5px 5px rgba(0,0,0,.5));
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-dasharray:5;
    -webkit-text-stroke-color: white;

}


@media (max-width:1060px){
    h1[class*="title"], h2[class*="title"]{
        font-size: 7rem;
    }
}

@media (max-width:870px) {
    h1[class*="title"], h2[class*="title"] {
        font-size: 5rem;
    }
}

@media (max-width:700px) {
    h1[class*="title"], h2[class*="title"] {
        font-size: 4rem;
    }
}

@media (max-width:350px) {
    h1[class*="title"], h2[class*="title"] {
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
        letter-spacing: -0.3rem;
    }
}