.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: #fff;
}

.containerInfos {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content:space-around;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contact {
    height:5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .infoContact {
        display: flex;
        align-items: center;
        padding: 15px 0;

        .text {
            font-size: 2.3rem;
            padding-left: 2rem;
        }
    }
}





.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    
}

@media screen and (max-width: 425px) {
    .container {
        justify-content: center;

        .containerInfos {
            .header {
                align-self: flex-start;
                margin-top: -15rem;
            }

            .contact {
                display: none;
            }

            .footer {
                display: none;
            }
        }
        
    }
            
}

@media screen and (max-width:350px) {
    .container {
        justify-content: center;

        .containerInfos {
            .header {
                align-self: flex-start;
                margin-top: -40rem;
            }

            .contact {
                display: none;
            }

            .footer {
                display: none;
            }
        }
        
    }
}